.categoryPage {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 5.5rem 1rem 1rem 1rem;
}

@media screen and (min-width: 700px) {
  .categoryPage {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    max-height: 50vh;
  }
}

@media screen and (min-width: 992px) {
  .categoryPage {
    padding: 6.5rem 3rem 2rem 3rem;
    grid-template-columns: repeat(3, 1fr);
  }
}
