.categoryPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 5.5rem 1rem 1rem 1rem;
}

@media screen and (min-width: 992px) {
  .categoryPage {
    padding: 6.5rem 3rem 2rem 3rem;
  }
}
