.cocktailSection {
  max-width: 1200px;
  display: grid;
  justify-items: center;
  gap: 2rem;
  border: 1px;
  padding: 4rem 0 1rem 0;
}
.cocktailSection > img {
  width: 13rem;
  clip-path: circle(50% at 50% 50%);
  justify-self: center;
}

.cocktailSection > p {
  display: none;
}

@media screen and (min-width: 992px) {
  .cocktailSection {
    padding: 6rem 3rem 2rem 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .cocktailSection > img {
    grid-row: 1/4;
    width: 20rem;
    justify-self: flex-start;
  }
  .cocktailSection > h2 {
    grid-row: 1/2;
    justify-self: flex-start;
  }
  .cocktailSection > p {
    display: block;
    grid-row: 2/3;
  }
  .cocktailSection > .orangeButton {
    grid-row: 3/4;
    align-self: center;
    justify-self: flex-start;
  }
  .cocktailSection > .isReverse {
    grid-column: 2/3;
    justify-self: flex-end;
  }
}
