.cocktailPage {
  width: 100%;
  min-height: calc(100vh - 7.5rem);
  padding: 5.5rem 1rem 1rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
}

.cocktailDetails {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: 3px solid var(--secondaryColor);
  border-radius: 15px;
  padding: 2rem;
  width: 100%;
  max-width: 1000px;
  height: 100%;
}

.cocktailDetails > img {
  width: clamp(250px, 100%, 500px);
  max-height: 350px;
  border-radius: 15px;
  justify-self: center;
}

.cocktailTitle {
  text-align: center;
  font-size: 1.5rem;
}

.cocktailDetails > h3,
.cocktailDetails > p,
.cocktailDetails > ul {
  text-align: center;
  color: var(--textColor);
  font-family: var(--secondaryFont);
}

.cocktailDetails > article {
  justify-self: center;
  width: clamp(250px, 100%, 500px);
}

article > ul {
  list-style-type: none;
}

article > h3 {
  margin: 1rem 0 0.5rem 0;
  color: var(--secondaryColorAlt);
}

@media screen and (min-width: 992px) {
  .cocktailPage {
    min-height: calc(100vh - 9rem);
    padding: 6.5rem 3rem 2rem 3rem;
  }

  .cocktailDetails {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    border: 3px solid var(--secondaryColor);
    border-radius: 15px;
    padding: 3rem 2rem;
    align-items: center;
    margin: auto;
  }

  .cocktailDetails > article {
    font-size: 1.2rem;
  }

  article > h3 {
    font-size: 1.5rem;
  }
  .cocktailTitle {
    text-align: left;
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  .cocktailDetails > img {
    border-radius: 15px;
  }
}
