footer {
  display: flex;
  justify-content: space-between;
  font-family: var(--secondaryFont);
  padding: 1rem;
}
footer > img {
  width: 10rem;
}
footer > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  list-style: none;
}

footer > ul > li > a {
  color: var(--secondaryColorAlt);
  text-decoration: none;
}

@media screen and (min-width: 992px) {
  footer {
    padding: 1rem 3rem;
  }
}
