footer {
  display: flex;
  justify-content: space-between;
  font-family: var(--secondaryFont);
  padding: 1rem;
  gap: 1rem;
}
footer > img {
  width: 5rem;
  display: inline-block;
}

footer > ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

li > a {
  color: var(--secondaryColorAlt);
  align-items: center;
  text-decoration: none;
  transition: ease 0.3s;
}
li > a:hover {
  opacity: 0.8;
}

@media screen and (min-width: 992px) {
  footer {
    padding: 1rem 3rem;
  }
  footer > img {
    width: 4rem;
  }
  footer > ul {
    gap: 2rem;
  }
}
