footer {
  display: flex;
  justify-content: flex-end;
  font-family: var(--secondaryFont);
  padding: 1rem;
}

footer > a {
  color: var(--secondaryColorAlt);
  margin-left: 1rem;
  text-decoration: none;
}

@media screen and (min-width: 992px) {
  footer {
    padding: 1rem 3rem;
  }
}
