footer {
  background-color: rgb(26, 39, 51);
  display: flex;
  justify-content: space-around;
  font-family: "Pontano sans", sans-serif;
}

footer > img {
  width: 6rem;
  display: inline-block;
}

footer > ul {
  color: rgb(242, 157, 82);
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}
@media screen and (max-width: 640px) {
  footer > ul {
    margin-right: 1rem;
  }
}
