footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
}

footer > a > img {
  width: 6rem;
}

footer > ul {
  color: rgb(242, 157, 82);
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media screen and (max-width: 768px) {
  footer {
    padding: 1rem;
  }
}
