nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 5rem;
  padding: 0 2rem;
}

img {
  width: 5rem;
}

h1 {
  font-size: 1.3rem;
  color: var(--secondaryColor);
}

button {
  width: 5rem;
  background-color: var(--primaryColor);
  color: var(--secondaryColor);
  font-size: 3rem;
  border: none;
}

.unhide-menu {
  position: absolute;
  top: 5rem;
  height: 5rem;
  width: 100%;
  background-color: var(--primaryColor);
  color: var(--secondaryColor);
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.hide-menu {
  display: none;
}
