.allCocktailsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0 0 2rem 0;
}

h2 {
  color: var(--secondaryColorAlt);
}

.allCocktailsSection > img {
  width: clamp(260px, 100%, 768px);
}

img:hover {
  opacity: 0.8;
  cursor: pointer;
}

.buttonBorder {
  border: 3px solid var(--textColor);
}

@media screen and (min-width: 768px) {
  .allCocktailsSection > img {
    border-radius: 15px;
  }
  .allCocktailsSection {
    padding: 3rem 0;
  }
}
